
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-brand {
	color: #fff !important;
	font-weight: 600;
}

.sidebar {
	margin-top: 2px !important;
}

.table-panel {
	background-color: #757575 !important;
}

#page-wrapper {
	background-color: #F5F5F5 !important;
}