
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	font-family: Arial;
}

.navbar-brand {
	color: #fff !important;
	font-weight: 600;
}

.sidebar {
	margin-top: 2px !important;
}

#page-wrapper {
	background-color: #FAFAFA !important;
}

.nav li a {
	color: #337ab7;
	font-size: 15px;
}

.panel-primary {
	border-color: #d3e0e9;
}

table.dataTable thead th, table.dataTable.no-footer {
	border-bottom: 1px solid #d3e0e9 !important;
}